<ion-header>
    <ion-toolbar>
        <ion-title>Registro de Usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="form">
        <ion-item>
            <ion-input type="text" placeholder="Nombre" formControlName="name"></ion-input>
            <div class="validation-errors" *ngIf="fieldValid('name')">
                Ingrese su nombre
            </div>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Email" name="email" formControlName="email"></ion-input>
            <div class="validation-errors" *ngIf="fieldValid('email')">
                Ingrese su Correo Electrónico
            </div>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="Contraeña" name="password" formControlName="password"></ion-input>
            <div class="validation-errors" *ngIf="fieldValid('password')">
                Ingrese su contraseña
            </div>
        </ion-item>


        <ion-button expand="block" type="submit" (click)="create(form)">Registrar</ion-button>
    </form>
    <ion-button expand="block" type="button" routerLink="/login" color="light">Cancelar</ion-button>

</ion-content>