<ion-header translucent>
    <ion-toolbar>
        <ion-title>Comprar Token</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <form [formGroup]="buyForm">
        <ion-item>
            <ion-input type="text" placeholder="Cantidad" [formControlName]="['quantity']" ngModel></ion-input>
            <div class="validation-errors" *ngIf="fieldValid('quantity')">
                Ingrese una cantidad
            </div>
        </ion-item>
        <ion-button expand="block" type="button" (click)="buyToken(buyForm.value)">Comprar</ion-button>
    </form>
</ion-content>